#noti-support {
    text-align: center;
}

#noti-permission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

#noti-permission button {
    width: 20%;
}

#noti-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#noti-time select {
    width: 20%;
}

#noti-time button {
    width: 20%;
}

#noti-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#noti-on {
    width: 20%;
    margin-top: 10px;
}

#noti-off {
    width: 20%;
}

#todo-form {
    margin:auto;
    margin-top: 50px;
    width: 50%;
}

#todo-form input {
    text-align: center;
}

#todo-list li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-list li span {
    font-size: xx-large;
}

#todo-list li button {
    width: 10%;
    font-weight: bold;
    margin-left: 10px;
}

.hidden {
    display: none;
}